*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: "Roboto", arial, sans-serif;
	background-image: url(assets/bg-desktop-light.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.container-principal{
	width: 100%;
	max-width: 850px;
}

.title{
	color: #FFF;
	letter-spacing: 20px;
}

#dark-light{
	border: none;
	width: 100%;
	height: 100%;
	background: none;
}

#addTodo{
	outline: none;
	border: none;
	width: 100%;
	color: #3a393f;
	padding: 15px;
	border-radius: 5px;
	font-size: 20px;
}

#list-tasks{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #FFF;
	border-radius: 5px 5px 0 0;
}

#list-tasks li{
	font-size: 20px;
	padding: 15px;
	border-bottom: 1px solid #e5e4e9;
}

#filter{
	display: none;
}

.rodape{
	font-size: 16px;
	cursor: pointer;
}

.container-checked{
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	color: #4c4b5b;
}

.container-checked input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 5px;
	height: 25px;
	width: 25px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	/*border: 1px solid transparent;*/
	/*border-image: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));*/
	/*border-image-slice: 1;*/
	border-radius: 50%;
	transform: rotate(-45deg);
}

.container-checked input:checked ~ .checkmark{
	background-image: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.checkmark:after{
	content: "";
	position: absolute;
	display: none;
}

.container-checked input:checked ~ .checkmark:after{
	display: block;
}

.container-checked .checkmark:after{
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0px 3px 3px 0px;
	transform: rotate(90deg);
}

.removido{
	text-decoration: line-through;
	color: #ccc;
}